<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Liste des contacts</ion-title>
  </ion-navbar>
  <form>
    <ion-searchbar #focusTb placeholder="Rechercher" [(ngModel)]="filter" [formControl]="searchControl" [showCancelButton]="shouldShowCancel"
      (ionCancel)="onSearchCancel($event)">
    </ion-searchbar>
  </form>
  <ion-spinner *ngIf="searching" class="spinnerInside"></ion-spinner>
</ion-header>

<ion-content padding>
  <ion-fab bottom left class='fabAdd'>
    <button ion-fab mini (click)="AddContact()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <ion-list>
    <ion-item *ngFor="let item of contactProvider.contactList$ | async" (click)="contactClick(item)">
      <p>{{ item.name }}</p>
      <p>{{ item.number }}</p>
    </ion-item>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>