page-contact-list {
    .spinnerInside{
        top: 70px;
        right: 50px;
        position: absolute;
    }

    .highFab{
        bottom:40px;
    }

    background-color: #dfdfdf; 
    background-image: linear-gradient(to bottom, #dddbd1, #d2dbdc);

}

ion-content {
    margin-left: 20% !important;
    margin-right: 20% !important;
    width: 60% !important;
}