page-contact-list {
    .spinnerInside{
        top: 70px;
        right: 50px;
        position: absolute;
    }

    .highFab{
        bottom:40px;
    }

}

ion-content {
    padding-left: 30% !important;
    padding-right: 30% !important;
}